body
{
	margin: 0;
	background-color: #E9EBEE;
	color: 	#000000;
	font-family: 'Poiret One', serif;
    font-size: 30px;

}


h1
{
 	font-size: 70px;
  	font-weight: bold;
	text-align: center;
	letter-spacing:  10px;
 	margin-bottom:0px; 
 	margin-top:10px;	
}

h3
{
 	font-size: 30px;
  	font-weight: bold;
	text-align: center;
	letter-spacing:  1px;
 	margin-bottom:0px; 
 	margin-top:1px;	
}

p
{
	font-weight: bold;
	text-align: center;
 	letter-spacing:  2px;
 	margin-bottom:25px; 
 	margin-top:5px;	
}

a
{
	color:black;
}

.container
{
	width: 600px;
	height:500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 10px;
}

h4{
	font-size: 22px;
  	letter-spacing:  1px;
 	margin-bottom:10px; 
 	margin-top:10px;
 	margin-right:5px;
}

.account
{
	float: right;
	margin-right: 40px;
	width: 12%;
	height:10%;
	background-color: #E9EBEE;
	border: 2px solid #000000;
	border-radius: 15px; 
	filter: brightness(95%);
	cursor: pointer;
	text-align: center;
}

.account:hover{
	filter: brightness(100%);
	border: 3px solid #393939;
}


.day-slider{
	position: relative;
	border: 1px solid black;
}

.day-slider .day-wrapper{
	width: 80%;
	height: 20%;
	margin: 0px auto;
	border: 1px dashed black;
	overflow: hidden;
}

.day-slider .day-wrapper .day{
	height:100%;
	width:20%;
	margin: 0px 5px;
	display: inline-block;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	filter: brightness(90%);
}

.day-slider .day-wrapper .day:hover
{
	filter: brightness(95%);
}

.dayN, .dayNb, .month{
	height:30%;
	width:100%;
	font-size: 20px;
}


.day-slider #next{
	position: absolute;
	top: 50%;
	right: 4%;
}


.day-slider #prev{
	position: absolute;
	top: 50%;
	left: 4%;
}


